*.pyc
build/
dist/
.DS_Store
*.swp
*.egg-info
*.so
specpart-f2pywrappers2.f90
specpartmodule.c
.vscode
tests/med20170319_12z.nc
tests/snative20141201T00Z_spec.nc
pyspectra/tests/snative20141201T00Z_spec.nc
tests/antf0.20170207_06z.bnd.swn
pyspectra/tests/antf0.20170207_06z.bnd.swn
tests/antf0.20170208_06z.hot-001
pyspectra/tests/antf0.20170208_06z.hot-001
tests/prelud.spec
tests/manus.spec
tests/prelud0.spec
pyspectra/tests/prelud0.spec
tests/s20170328_12z.nc
spectra/specpart.so
tests/manus.tab
spectra/specpart/specpartmodule.c