autodoc
attrdict
click
cmocean
dask
gcsfs
fsspec
ipython
matplotlib
mock
netcdf4
numpy
pandas
python-dateutil
pyyaml
sortedcontainers
scipy
simpy
sphinx
sphinx_gallery
sphinx-autobuild
sphinx_rtd_theme
sphinx-autodoc-typehints
toolz
xarray>=0.15
