autodoc
attrdict
click
cmocean
dask
gcsfs
fsspec
ipython
matplotlib
mock
netcdf4
numba
numpy
pandas
python-dateutil
pyyaml
sortedcontainers
scipy
sphinx
sphinx-gallery
sphinx-autobuild
sphinx_rtd_theme
sphinx-autodoc-typehints
toolz
xarray
