name: Upload Python Package

on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    -
      name: Checkout repo
      uses: actions/checkout@v3
    -
      name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.10'
    -
      name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install . 'wavespectra[extra]'
    -
      name: Test wavespectra
      run: |
        pip install pytest
        py.test -s -v tests
    -
      name: Build package
      run: |
        pip install build
        python -m build -s
    -
      name: Publish package
      uses: pypa/gh-action-pypi-publish@v1.6.4
      with:
        password: ${{ secrets.PYPI_API_TOKEN }}
        verbose: true
