name: Build and test the library

on:
  push:

jobs:
  build-and-test:
    name: Build and test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: ['3.10']

    steps:
    -
      name: Checkout repo
      uses: actions/checkout@v4
    -
      name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    -
      name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install . 'wavespectra[extra,test]'
    -
      name: Test package
      run: pytest -s -v tests
