name: Build and test the library

on:
  push:

jobs:
  build-and-test:
    name: Build and test
    runs-on: ubuntu-latest
    steps:
    -
      name: Checkout repo
      uses: actions/checkout@v4
    -
      name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'
    -
      name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install . 'wavespectra[extra,test]'
    -
      name: Test package
      run: pytest -s -v tests
